$tablet-width: 780px;
$desktop-width: 1280px;
// colors
$primary-color: #323232;
$primary-color-darker: #afafaf;
$primary-color-clear: #ffffff;

//secondary color
$secondary-color: #000000;
$secondary-color-light: #e1e1e1;
$secondary-color-lighter: #fafafa;
