@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "AvenirNext LT Pro";
}
.body {
  font-size: 24px;
  line-height: 32px;
  // font-weight: 700;
}

img {
  max-width: 100%;
}
// nav bar
.nav {
  height: 5rem;
  display: flex;
  @include desktop {
    height: 8rem;
    padding: 3.5rem;
  }
  &__logo-first {
    height: 1.4rem;
    padding-top: 0rem;
    @include tablet {
      height: 1.2rem;
    }
    @include desktop {
      padding-left: 4rem;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    height: 3rem;
    max-width: 100%;
  }
  &__menu {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    padding-top: 0.2rem;
    @include tablet {
      height: 100%;
      align-items: center;
      gap: 3rem;
    }
  }
  &__items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: $primary-color-clear;
  }
  &__link {
    text-decoration: none;
    color: $primary-color-clear;
    font-size: 0.85rem;
    width: 50%;
    text-align: center;
    padding-bottom: 0.7rem;
    font-weight: 400;
    @include tablet {
      height: 100%;
      display: flex;
      align-items: center;
      padding-top: 0.7rem;
      justify-content: center;
    }
  }
  &__link--special {
    border-bottom: 3px solid $primary-color-clear;
    font-weight: 700;
    display: flex;
    justify-content: center;
    @include tablet {
      height: 100%;
      padding-top: 1.3rem;
      padding-bottom: 1.2rem;
      width: 5.8rem;
    }
    @include desktop {
      padding-top: 3.3rem;
      padding-bottom: 3.2rem;
    }
  }

  @include tablet {
    background-color: $primary-color;
    display: flex;
    justify-content: start;
    gap: 4rem;
    align-items: center;
    height: 4rem;
    &__logo {
      padding: 2rem;
    }
  }
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 12rem;
  width: 100%;
  padding: 0;
  margin-top: 0;
  @include tablet {
    height: 25rem;
  }
  @include desktop {
    height: 40rem;
  }
  &__title {
    color: $primary-color-clear;
    display: flex;
    justify-content: start;
    align-items: center;
    // margin: 0;
    position: relative;
    padding-left: 2%;
    font-weight: 700;
    padding-top: 5rem;
    @include tablet {
      align-items: center;
      font-size: 3.75rem;
      padding-top: 10rem;
      padding-left: 2rem;
    }
    @include desktop {
      padding-top: 20rem;
    }
  }
}
.card {
  padding: 0.1rem 1rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    @include tablet {
      padding: 0 5rem;
    }
    @include desktop {
      padding: 0 10rem;
    }
    &__paragraphs {
      padding-top: 1rem;
      @include tablet {
        display: flex;
        gap: 2rem;
        padding: 1rem 5rem;
      }
      @include desktop {
        padding: 1rem 10rem;
      }
    }
  }
  &__image {
    object-fit: cover;
    height: 10rem;
    @include tablet {
      height: 20rem;
    }
    @include desktop {
      height: 30rem;
      padding-top: 1rem;
    }
  }
  &__title {
    padding: 1.5rem 2rem 1rem 0.1rem;
    font-size: 1.5rem;
    font-weight: 500;
    @include tablet {
      padding-left: 2rem;
      font-size: 2.25rem;
    }
  }
  &__subtitle {
    text-align: left;
    padding: 1.75rem 1rem 0rem 0rem;
    font-weight: 700;
    @include tablet {
      padding-left: 5rem;
      font-weight: 700;
    }
    @include desktop {
      padding-left: 10rem;
    }
  }
  &__text {
    padding-bottom: 1rem;
    font-size: 0.81rem;
    font-weight: 400;
  }
  &__text--special {
    padding-top: 1rem;
    font-size: 0.87rem;
    font-weight: 500;
  }
  &__quote {
    padding-top: 0;
    font-size: 0.81rem;
    font-weight: 500;
    height: 1rem;
  }
}
.gallery {
  background-color: $secondary-color-lighter;
  padding: 1rem;
  @include desktop {
    padding: 3rem 6rem 1rem 6rem;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 0;
    padding: 0;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 0;
      margin-bottom: 0;
      padding-top: 0;
    }
  }
  &__title {
    font-size: 2.5rem;
    font-weight: 500;
    padding: 1rem 0;
    @include desktop {
      padding-bottom: 3rem;
    }
  }
  &__image {
    margin: 0;
    @include tablet {
      width: 30%;
      flex: 1;
    }
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: $primary-color;
  color: $primary-color-clear;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
  @include desktop {
    justify-content: flex-start;
    gap: 1rem;
    padding: 1.5rem 4rem 1rem 6rem;
  }
  &__logo--top {
    display: none;
    @include tablet {
      display: contents;
    }
    @include desktop {
      display: contents;
      padding-left: 8rem;
    }
  }
  &__logo--bottom {
    @include tablet {
      display: none;
    }
  }
  &__item {
    width: 25%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__item--large {
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop {
      justify-content: flex-start;
      gap: 1rem;
    }
  }
  &__socials {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    @include tablet {
      justify-self: auto;
      align-items: end;
      display: flex;
      padding-right: 36rem;
      padding-left: 5.8rem;
    }
  }
  &__title {
    display: flex;
    text-align: left;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
  }

  &__text {
    font-size: 0.81rem;
    font-weight: 400;
  }
  &__email {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    font-size: 0.81rem;
    font-weight: 400;
    @include desktop {
      padding-bottom: 0;
    }
  }
  &__text-special {
    font-size: 0.81rem;
    font-weight: 500;
    @include desktop {
      padding-right: 6rem;
    }
  }
  &__separator {
    padding-top: 1rem;
    font-weight: 400;
    font-size: 0.81rem;
    @include desktop {
      padding-top: 2rem;
      font-size: 1rem;
    }
  }

  &__icon {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
  }
  &__logo {
    height: 30px;
    width: 120px;
  }
}
