@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("/assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("/assets/Font/AvenirNextLTPro-Demi.woff") format("woff"), url("/assets/Font/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("/assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("/assets/Font/AvenirNextLTPro-Regular.woff") format("woff"), url("/assets/Font/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("/assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("/assets/Font/AvenirNextLTPro-Bold.woff") format("woff"), url("/assets/Font/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "AvenirNext LT Pro";
}

body {
  font-size: 24px;
  line-height: 32px;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.nav {
  height: 5rem;
}
@media (min-width: 1280px) {
  .nav {
    height: 8rem;
    padding: 3.5rem;
  }
}
.nav__logo-first {
  height: 1.4rem;
  padding-top: 0rem;
}
@media (min-width: 780px) {
  .nav__logo-first {
    height: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .nav__logo-first {
    padding-left: 4rem;
  }
}
.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  height: 3rem;
  max-width: 100%;
}
.nav__menu {
  display: flex;
  align-items: center;
  background-color: #323232;
  padding-top: 0.2rem;
}
@media (min-width: 780px) {
  .nav__menu {
    height: 100%;
    align-items: center;
    gap: 3rem;
  }
}
.nav__items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #ffffff;
}
.nav__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.85rem;
  width: 50%;
  text-align: center;
  font-weight: 400;
}
@media (min-width: 780px) {
  .nav__link {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 0.7rem;
    justify-content: center;
  }
}
.nav__link--special {
  border-bottom: 3px solid #ffffff;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
@media (min-width: 780px) {
  .nav__link--special {
    height: 100%;
    padding-top: 1.3rem;
    padding-bottom: 1.2rem;
    width: 5.8rem;
  }
}
@media (min-width: 1280px) {
  .nav__link--special {
    padding-top: 3.3rem;
    padding-bottom: 3.2rem;
  }
}
@media (min-width: 780px) {
  .nav {
    background-color: #323232;
    display: flex;
    justify-content: start;
    gap: 4rem;
    align-items: center;
    height: 4rem;
  }
  .nav__logo {
    padding: 2rem;
  }
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-bottom: 2rem;
  margin-top: 0;
}
@media (min-width: 780px) {
  .hero {
    height: 30rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 40rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.hero__title--container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
}
@media (min-width: 780px) {
  .hero__title--container {
    gap: 1rem;
  }
}
@media (min-width: 1280px) {
  .hero__title--container {
    width: 50%;
    padding-top: 5rem;
  }
}
.hero__item {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
}
@media (min-width: 780px) {
  .hero__item {
    font-size: 3.5rem;
    padding-top: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .hero__item {
    font-size: 1.5;
    justify-content: center;
    align-items: center;
    padding-left: 2.5rem;
    padding-top: 1rem;
    width: 70%;
    display: block;
    width: 100%;
  }
}
.hero__small-title {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
  padding: 2rem 4rem 1rem 1rem;
}
@media (min-width: 780px) {
  .hero__small-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .hero__small-title {
    display: flex;
    padding: 5rem 0rem 1rem 2.5rem;
    width: 70%;
  }
}
.hero__frame {
  height: 100%;
  width: 100%;
  padding: 0rem 1rem 1rem;
}
@media (min-width: 780px) {
  .hero__frame {
    width: 70%;
    height: 100%;
    padding: 0rem 1rem 1rem 2rem;
  }
}
@media (min-width: 1280px) {
  .hero__frame {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    padding-left: 0rem;
    padding-right: 12rem;
    margin-top: 12rem;
  }
}

.selected {
  background-color: #e1e1e1;
}

.schedule__info:hover {
  background-color: #fafafa;
}

@media (min-width: 1280px) {
  .schedule__section {
    display: flex;
    flex-direction: row;
  }
}

.schedule {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
}
.schedule__title {
  margin: 3rem 1rem 0rem 2rem;
  font-size: 2rem;
}
@media (min-width: 1280px) {
  .schedule__title {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .schedule__title {
    width: 10%;
  }
}
.schedule__main {
  font-size: 1rem;
  font-weight: 500;
  color: gray;
}
@media (min-width: 780px) {
  .schedule__main {
    display: none;
  }
}
.schedule__secondary {
  font-size: 0.9rem;
  font-weight: 500;
}
@media (min-width: 780px) {
  .schedule__secondary {
    width: 20%;
  }
}
.schedule__secondary--bold {
  font-weight: 700;
}
.schedule__button {
  background-color: black;
  color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0rem 1rem;
}
@media (min-width: 780px) {
  .schedule__button {
    width: 30%;
  }
}
.schedule__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
@media (min-width: 1280px) {
  .schedule__list {
    font-size: 2.5rem;
  }
}
.schedule__info {
  border-bottom: 2px solid gray;
}
@media (min-width: 780px) {
  .schedule__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    flex: 1;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #323232;
  color: #ffffff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}
@media (min-width: 780px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer {
    justify-content: flex-start;
    gap: 1rem;
    padding: 1.5rem 4rem 1rem 6rem;
  }
}
.footer__logo--top {
  display: none;
}
@media (min-width: 780px) {
  .footer__logo--top {
    display: contents;
  }
}
@media (min-width: 1280px) {
  .footer__logo--top {
    display: contents;
    padding-left: 8rem;
  }
}
@media (min-width: 780px) {
  .footer__logo--bottom {
    display: none;
  }
}
.footer__item {
  width: 25%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 780px) {
  .footer__item--large {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__item--large {
    justify-content: flex-start;
    gap: 1rem;
  }
}
.footer__socials {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
@media (min-width: 780px) {
  .footer__socials {
    justify-self: auto;
    align-items: end;
    display: flex;
    padding-right: 14rem;
  }
}
@media (min-width: 1280px) {
  .footer__socials {
    padding-right: 25rem;
  }
}
.footer__title {
  display: flex;
  text-align: left;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
}
@media (min-width: 780px) {
  .footer__title {
    padding-right: 6rem;
  }
}
.footer__text {
  font-size: 0.81rem;
  font-weight: 400;
}
.footer__email {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  font-size: 0.81rem;
  font-weight: 400;
}
@media (min-width: 1280px) {
  .footer__email {
    padding-bottom: 0;
  }
}
.footer__text-special {
  font-size: 0.81rem;
  font-weight: 500;
}
@media (min-width: 1280px) {
  .footer__text-special {
    padding-right: 6rem;
  }
}
.footer__separator {
  padding-top: 1rem;
  font-weight: 400;
  font-size: 0.81rem;
}
@media (min-width: 1280px) {
  .footer__separator {
    padding-top: 2rem;
    font-size: 1rem;
  }
}
.footer__icon {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}
.footer__logo {
  height: 30px;
  width: 120px;
}
@media (min-width: 1280px) {
  .footer__logo {
    padding-left: 5rem;
  }
}/*# sourceMappingURL=shows.css.map */