@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "AvenirNext LT Pro";
}

img {
  max-width: 100%;
}
// nav bar
.nav {
  &__logo-first {
    height: 2rem;
    padding-top: 0rem;
    @include tablet {
      height: 1.5rem;
    }
  }
  @include tablet {
    align-items: center;
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    height: 5rem;
    max-width: 100%;
    padding-top: 2rem;
  }
  &__menu {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    @include tablet {
      height: 100%;
    }
  }
  &__items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: $primary-color-clear;
  }
  &__link {
    text-decoration: none;
    color: $primary-color-clear;
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    @include tablet {
      height: 100%;
    }
  }
  &__link--special {
    padding: 1rem;
    border-bottom: 5px solid $primary-color-clear;

    @include tablet {
      height: 100%;
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 8.2rem;
    }
  }
  // &__item--special:current {
  //   border-bottom: 2px solid $primary-color-clear;
  // }
  @include tablet {
    background-color: $primary-color;
    display: flex;
    justify-content: start;
    gap: 4rem;
    &__logo {
      padding: 2rem;
    }
    &__menu {
      align-items: center;
      gap: 3rem;
    }
    // &__item--special {
    //   border-bottom: 2px solid $primary-color-clear;
    // }
  }
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 22rem;
  width: 100%;
  padding: 0;
  margin-top: 0;
  @include tablet {
    height: 30rem;
  }
  &__title {
    color: $primary-color-clear;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    margin: 0;
    padding-top: 10rem;
    padding-left: 2%;
    font-size: 2rem;
    @include tablet {
      padding-top: 14rem;
    }
  }
}
.card {
  padding: 0.1rem 1rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    @include tablet {
      padding: 0 5rem;
    }
    &__paragraphs {
      padding: 1rem 1rem;
      @include tablet {
        display: flex;
        gap: 2rem;
        padding: 1rem 5rem;
      }
    }
  }
  &__image {
    object-fit: cover;
    height: 20rem;
  }
  &__title {
    font-size: 3rem;
    padding: 2rem 2rem 2rem 0.5rem;
    @include tablet {
      padding-left: 2rem;
    }

    // @include tablet {
    //   padding: left 2rem;
    //   padding-right: 2rem;
    // }
  }
  &__subtitle {
    text-align: left;
    padding: 1.5rem 1rem 0rem;
    font-weight: 600;
    @include tablet {
      padding-left: 5rem;
    }
    // padding: 2rem 5rem 0rem;
  }
  &__text {
    // padding-bottom: 1rem;
    padding-bottom: 1rem;
  }
  &__text--special {
    padding-top: 2rem;
  }
  &__quote {
    padding-top: 0;
  }
}
.gallery {
  background-color: $secondary-color-lighter;
  padding: 1rem;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 0;
    padding: 0;
    // flex-direction: column;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 0;
      margin-bottom: 0;
      padding-top: 0;
    }
  }
  &__title {
    font-size: 2rem;
    padding-left: 0.5rem;
    @include tablet {
    }
  }
  &__image {
    margin: 0;
    @include tablet {
      width: 30%;
      flex: 1;
    }
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: $primary-color;
  color: $primary-color-clear;
  padding-left: 1rem;
  padding-right: 1rem;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
  &__logo--top {
    display: none;
    @include tablet {
      display: contents;
    }
  }
  &__logo--bottom {
    @include tablet {
      display: none;
    }
  }
  &__item {
    width: 25%;
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
  }
  &__item--large {
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__socials {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    @include tablet {
      justify-self: auto;
      align-items: end;
      display: flex;
      padding-right: 6.2rem;
    }
  }
  &__title {
    display: flex;
    text-align: left;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  &__text {
    padding-bottom: 2rem;
  }
  &__icon {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
  }
  &__logo {
    height: 30px;
    width: 120px;
  }
}
