@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

* {
  box-sizing: border-box;
}
// nav bar
.nav {
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    height: 5rem;
    max-width: 100%;
  }
  &__menu {
    display: flex;
    justify-content: space-around;
    background-color: $primary-color;
  }
  &__items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: $primary-color-clear;
  }
  &__link {
    text-decoration: none;
  }
  &__item--special:current {
    border-bottom: 2px solid $primary-color-clear;
  }
}

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  height: 15rem;
  width: 100%;
  padding: 0;
  margin-top: 0;
  &__title {
    color: $primary-color-clear;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    margin: 0;
    padding-top: 6rem;
    padding-left: 2%;
    font-size: 2rem;
  }
}
.card {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 2rem;
  }
}
.gallery {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 2rem;
  }
  &__image {
    margin: 1rem 0.5rem 0.1rem;
  }
}
.footer {
  background-color: $primary-color;
  color: $primary-color-clear;
  margin: 0 auto;
  padding-left: 1rem;
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    margin: 0 auto;
  }
  &__title {
    padding: 1.2rem 0 0 0;
    font-size: 2rem;
  }
  &__icon {
    width: 2rem;
    height: 2rem;
  }
}
