@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// nav bar
.nav {
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    height: 5rem;
    max-width: 100%;
  }
  &__menu {
    display: flex;
    justify-content: space-around;
    background-color: $primary-color;
  }
  &__items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: $primary-color-clear;
  }
  &__link {
    text-decoration: none;
  }
  &__item--special:current {
    border-bottom: 2px solid $primary-color-clear;
  }
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  height: 15rem;
  width: 100%;
  padding: 0;
  margin-top: 0;
  &__title {
    color: $primary-color-clear;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    margin: 0;
    padding-top: 6rem;
    padding-left: 2%;
    font-size: 2rem;
  }
}
.card {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 2rem;
  }
}
.gallery {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 2rem;
  }
  &__image {
    margin: 1rem 0.5rem;
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: $primary-color;
  color: $primary-color-clear;
  padding-left: 1rem;
  padding-right: 1rem;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
  &__logo--top {
    display: none;
    @include tablet {
      display: contents;
    }
  }
  &__logo--bottom {
    @include tablet {
      display: none;
    }
  }
  &__item {
    width: 25%;
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
    // @media (min-width: 780px) {
    //   flex-direction: row;
    //   justify-content: flex-start;
    // }
  }
  &__item--large {
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__socials {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    @include tablet {
      justify-self: auto;
      align-items: end;
      display: flex;
      padding-right: 6.2rem;
    }
  }
  &__title {
    display: flex;
    text-align: left;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  &__text {
    padding-bottom: 2rem;
  }
  &__icon {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
  }
  &__logo {
    // width: 6rem;
    // height: 3rem;
    height: 30px;
    width: 120px;
  }
}
